# Django stuff:
*.sqlite3
*.log
*.pot
.env

# MacOS stuff
.ipynb_checkpoints
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Windows stuff
ehthumbs.db
Thumbs.db

# Python stuff
__pycache__/
*.py[cod]

# Extra site folders
bracket/static/images/SVG_Files/*
bracket/static/images/Tyler_Files/*
